.button-retour {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: var(--color-primary); /* Rustic Red */
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  padding: 12px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.button-retour:hover {
  background-color: var(--color-hover); /* Scarlet */
  color: var(--color-white);
}
