
.titre {
    font-size: 90px;
    font-weight: 700;
    position: absolute;
    z-index: 0;
    opacity: 20%;
    color:white;
    margin-top: -12%;
    margin-left: 29%;
  }
  
  .contact h1 {
      margin-top: 12%;
      margin-bottom: 8%;
      font-weight: 700;
      text-align: center;
      color: #FFC436;
    }
    
    .contact-container {
      display: flex;
      justify-content: center;
      width: 50%;
      padding:2%;
      background-image: linear-gradient(to right,  #900C3F 50%, black 50%);
      margin-left: 25%;
      margin-bottom: 5%;
    }
    
  
  form {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom:3%;
  margin-top: 3%;
  margin-left: 8%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    color: white;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px; 
    border: 1px solid #ccc;
    outline: none;
  }
  
  textarea {
    height: 250px;
  }
  
  .btn-contact {
    color: #fff;
    font-size: 16px; 
    border: solid 1px white;
    background-color:#FFC436;
    padding: 10px 20px;
    cursor: pointer;

  }

  .success-message
  {margin-top: -6%;
 margin-left: 45%;
margin-bottom:3% ;}
  
  
  @media only screen and (max-width: 767px) {

   form
   {width: 100%;
  margin-left: 10%;
  margin-bottom: 30%;}

  .titre
  {display:none}

  .contact-container
  {background-color: black;}

    
  .contact h1
  {margin-top: 30%;
  margin-bottom: 20%;
 }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  

form {margin-left: 20%;}


.titre
{display:none}
}


@media only screen and (min-width: 1024px) and (max-width: 1279px) and (orientation: landscape) {
  
  .titre
{margin-left: 15%;}
}
