
.portfolio-container {
  max-width: 1200px;
  margin-top: 13rem;
  padding: 2rem;
  margin: 30px;
}

.about-block {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* LEFT COLUMN */
.about-left {
  flex: 1;
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 0 0 15px rgba(150, 150, 150, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.graphic-background {
  position: absolute;
  top: 50px;
  left: -15px;
  width: 180px;
  height: 180px;
  background: radial-gradient(circle at 30% 30%, #894A91 30%, transparent 70%);
  z-index: 0;
}

.profile-image {
  width: 300px;
  height: 300px;
  margin-top: 7rem;
  object-fit: cover;
  border-bottom:3px solid #F070FC;
  border-right: 3px solid #F070FC;
  position: relative;
  z-index: 1;
}

.personal-info {
  margin-top: 1rem;
  line-height: 4rem;
}

.personal-info p {
  margin: 0.4rem 0;
}

.icon
{color: black;}

/* RIGHT COLUMN */
.about-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.name-title {
  font-size: 24px;
  color: black;
  margin-top: 5rem;
}

.intro {
  line-height: 1.6;
  margin-top: -1rem;
  width: 600px;
  font-size: 16px;
  color: black;
  text-transform: none;
  text-align: justify;}


.right-subblocks {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.soft-skills,
.diplomas {
  flex: 1;
  background-color:#f5f5f5;
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 0 0 15px rgba(150, 150, 150, 0.15);
}

.soft-skills h2,
.diplomas h2,
.software-skills h2 {
  color:#894A91;
  text-transform: uppercase;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}

ul {
  list-style: none;
  line-height: 1.6rem;
  padding-left: 0;
}


/* SOFTWARE SKILLS */
.software-skills {
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 0 0 15px rgba(150, 150, 150, 0.15);
}

.skills-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  text-align: center;
}

.skill-item img {
  width: 45px;
  height: 45px;
  margin-bottom: 0.5rem;
}
