

.projets-section {
  padding: 3rem 2rem;
  background-color: #000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 5rem;
}

.projets-title {
  font-size: 28px;
  color: #e1ad01;
  margin-bottom: 2rem;
  text-align: left;
  text-transform: uppercase;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.projet-card {
  background-color: #1a1a1a;
  width: 200px;
  box-shadow: 0 0 15px rgba(150, 150, 150, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.projet-card:hover {
  transform: translateY(-5px);
}

.card-image img {
  width: 200px;
  height: 600px;
  object-fit: cover;
  display: block;
}

.card-info {
  padding: 1rem;
  text-align: center;
}

.project-number {
  font-size: 36px;
  font-weight: bold;
  color: #e1ad01;
  margin-bottom: 0.5rem;
}

.card-info hr {
  border: none;
  height: 2px;
  background-color: #7c0a02;
  width: 60%;
  margin: 0 auto 0.8rem auto;
}

.project-title {
  font-size: 18px;
  color: white;
  margin: 0;
  text-transform: uppercase;
}
