.projets-section {
  padding: 3rem 2rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.projets-title {
  font-size: 40px;
  color: black; 
  margin-top: -1rem;
  margin-bottom: 2rem;
  text-align: left;
  text-transform: uppercase;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.projet-card {
  background-color:#cccccc;
  border-radius: 25px;
  border: solid 2px #410709; /* Rustic Red */
  width: 200px;
  box-shadow: 0 0 15px rgba(150, 150, 150, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.projet-card:hover {
  transform: translateY(-5px);
  border-color:#F070FC; /* Dark Sienna au hover */
}

.card-image img {
  width: 200px;
  height: 350px;
  filter: grayscale(100%) brightness(90%);
  object-fit: cover;
  display: block;
  transition: filter 0.3s ease;
  /* enlever le drop-shadow qui est redondant avec box-shadow */
}

.card-image img:hover {
  filter: none;
}

.card-info {
  padding: 1rem;
  text-align: center;
}

.project-number {
  font-size: 36px;
  font-weight: bold;
  color: #894A91; 
  margin-bottom: 0.5rem;
}

.card-info hr {
  border: none;
  height: 2px;
  background-color: #410709; /* Rustic Red */
  width: 60%;
  margin: 0 auto 0.8rem auto;
}

.project-title {
  font-size: 18px;
  color: black;
  margin: 0;
  text-transform: uppercase;
}
